
/*En-tête du site web.*/
header {
    display: flex;
    flex-direction: row;
    /*--------------------------------*/
    width: 100%;
    margin-bottom: 300px;
    z-index: 3;
}

/*Disposition des éléments de l'en-tête.*/
.navbar {
    position: fixed;
    display: flex;
    justify-content: center; /*Distanciation des éléments.*/
    align-items: center;
    background-color: rgba(21.2, 67.1, 46.3, 0.95);
    /*--------------------------------*/
    padding: 10px;
    width: 100%;
    height: 50px;
}

/*Taille des titres de l'en-tête.*/
.navbar a{
    font-size: 1.8rem;
}

/*Taille du logo dans l'en-tête.*/
.logo img {
    width: 50px;
    height: 50px;
}

.navbar .nav-links ul {
    display: flex;
    margin: 0 300px; /*Distanciation entre les éléments et le logo.*/
}

/*Espacement des éléments de l'en-tête.*/
.navbar .nav-links ul li {
    margin: 0 30px;
}

/*Disposition en rangée des titres de l'en-tête.*/
.navbar ul {
    display: flex;
    flex-direction: row;
}

/*Emplacement du menu burger dans le site.*/
.navbar .menu-burger {
    position: fixed;
    background: none;
    display:  none;
    /*--------------------------------*/
    top: 20px;
    right: 20px;
    width: 35px;
    height: 35px;
}

/*Version mobile.*/
@media screen and (width <= 1000px) {

    /*Cache l'en-tête par défaut pour ne pas l'afficher*/
    .nav-links {
        visibility: hidden;
    }

    /*Position du logo dans le site web en version mobile.*/
    .navbar .logo {
        position: absolute;
        top: 15px;
        left: 15px;
        z-index: 3;
    }

    /*Affichage du menu-burger dans l'en-tête.*/
    .navbar .menu-burger {
        display: block;
    }

    /*Affichage du menu quand le bouton est cliqué.*/
    .nav-links.mobile-menu {
        visibility: visible;
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        background-color: rgba(21.2, 67.1, 46.3, 0.95);
        /*--------------------------------*/
        top: 0;
        width: 100%; 
    }

    /*Disposition des éléments de l'en-tête.*/
    .nav-links ul {
        display: flex;
        flex-direction: column;
    }

    /*Espacement des éléments de l'en-tête.*/
    .navbar .nav-links ul li {
        margin: 25px 0;
    }
}