
/*En-tête du site web.*/
header {
    display: flex;
    flex-direction: row;
    /*--------------------------------*/
    width: 100vw;
    margin-bottom: 200px;
    z-index: 3;
}

/*Disposition des éléments de l'en-tête.*/
.navbar {
    position: fixed;
    display: flex;
    justify-content: center; /*Distanciation des éléments.*/
    align-items: center;
    /*--------------------------------*/
    padding: 10px;
    width: 100%;
    height: 50px;
}

/*Taille des titres de l'en-tête.*/
.navbar a{
    font-size: 1.8rem;
}

/*Taille du logo dans l'en-tête.*/
.logo img {
    width: 50px;
    height: 50px;
}

.navbar .nav-links ul {
    display: flex;
    margin: 0 300px; /*Distanciation entre les éléments et le logo.*/
}

/*Espacement des éléments de l'en-tête.*/
.navbar .nav-links ul li {
    margin: 0 30px;
}

/*Disposition en rangée des titres de l'en-tête.*/
.navbar ul {
    display: flex;
    flex-direction: row;
}

/*Emplacement du menu burger dans le site.*/
.navbar .menu-burger {
    position: fixed;
    background: none;
    display:  none;
    /*--------------------------------*/
    top: 20px;
    right: 50px;
    width: 35px;
    height: 35px;
}

@media screen and (width <= 1000px) {

    .navbar .nav-links {
        padding: 15px 0;
    }

    .navbar .logo {
        position: absolute;
        top: 15px;
        left: 50px;
        z-index: 3;
    }

    .navbar .menu-burger {
        display: block;
    }

    .nav-links {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        /*--------------------------------*/
        top: 0;
        width: 100%;
        height: 35vh;
    }

    .nav-links .mobile-menu {
        visibility: hidden;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li {
        margin: 25px 0;
    }
}