header {
    display: flex;
    flex-direction: row;
    width: 100%;
    z-index: 3;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    /*----------------------------------*/
    padding: 30px;
    height: 50px;
}

.navbar a {
    font-size: 2rem;
    color: #F0E5CD;
}