/*Faits par Jorenso.*/
footer {
    background-color: #36AB76;
    width: 100vw;
    height: fit-content;

    p{
        color: #FFEEDB;
    }
}

.bas-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*--------------------------*/
    gap: 50px;
}

.contact-bas-page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    color: #F0E5CD;
    /*--------------------*/
    gap: 30px;
    padding-top: 30px;
    margin: auto;
}

.email {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    /*------------------------*/
    gap: 5px;
}

/*Habillement et grandeur du champ de saisie.*/
.champ-texte {
    background-color: #1F6244;
    border-color: #F0E5CD;
    color: #F0E5CD;
    /*------------------------------*/
    border-radius: 5px;
    font-size: 1.3rem;
    width: 350px;
    height: 30px;
}

/*Habillement du bouton envoyer et grandeur du mot envoyer.*/
.bouton-envoyer {
    color: #F0E5CD;
    border-color: #F0E5CD;
    background-color: #232A21;
    /*--------------------------------*/
    width: fit-content;
    font-size: 1.3rem;
    border-radius: 5px;
    border-width: 2px;
    height: 35px;
    padding: 0 20px;
}

.info-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    /*-------------------------*/
    padding: 20px 0;
}

/*Disposition des informations de contacts en rangée.*/
.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    text-align: center;
    color: #FFEEDB;
    /*-----------------------------*/
    gap: 10px;
}

/*Distance entre les titres en h2 avec les informations des contacts.*/
.contact h2 {
    font-size: 1.3rem;
    padding-bottom: 10px;
}

/* limitation de la largeur des textes adresse et courriel pour un retour à la ligne.*/
.espacement {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    /*-------------------------*/
    width: 200px;
}

/*Dispostion des images des réseaux sociaux.*/
.réseaux-sociaux {
    display: flex;
    flex-direction: row;
    /*-------------------------*/
    padding-top: 20px;
    margin: auto;
    gap: 30px;
}

/*Grandeur des images des réseaux sociaux.*/
.réseaux-sociaux img {
    height: 50px;
    width: 50px;
}

/*Version mobile de la page d'accueil.*/
@media screen and (width <=1000px) {

    /*Taille des fonts dans la section courriel et alignement des contenues.*/
    .email {
        display: flex;
        align-items: center;
        /*Aligne les éléments à la même hauteur.*/
    }

    /*Grandeur de la barre de saisie de texte.*/
    .champ-texte {
        width: 150px;
        /*Largeur du champ de saisie de texte.*/
        height: 20px;
    }

    /*Grandeur du bouton envoyer.*/
    .bouton-envoyer {
        width: 70px;
        height: 27px;
        font-size: 0.8rem;
        border-radius: 5px;
        /*Rondeur du bouton.*/
        border-width: 2px;
        /*Largeur de bordure.*/
        padding: 0 5px;
        /*Espacement dans le bouton.*/
        margin-right: 5px;
        /*espacement vers la droite.*/
    }

    /*Disposition des moyens de contact en colonne.*/
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    /*Espacement des images de réseaux sociaux vers le bas.*/
    .réseaux-sociaux {
        padding-top: 40px;
    }
}