.calendrier {
    width: 1920px;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}


.cadre {
    padding: 0.625px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    background-color: green;
    height: 50rem;
    width: 50rem;
    gap: 0.625rem;
}

.contenantPorte {
    margin: 0.938rem;
    flex-basis: 25%-0.938rem;
}

.portes {
    /* background-color: red; */
    background-image: url("../Sapin.png");
    background-size: cover;
    height: 6.25rem;
    width: 6.25rem;
}

.portes:hover {
    scale: 1.1;
}

.portes:active {
    background-image: url("../FondSapin.png");
}

h2 {
    z-index: 100000;
}

.contact-bas-page {
    margin-top: 3rem;
}


/* --------------Edgar;-----------------------*/
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 100000;
}

.modal-content {
    background: white;
    padding: 1.25rem;
    border-radius: 0.625rem;
    width: 18.75rem;
    text-align: center;
    animation: popup 0.3s ease;
}


.close-modal {
    cursor: pointer;
    font-size: 1.625rem;
    float: right;
}


.pere-noel {
    position: fixed;
    top: 3.125rem;
    left: -12.5rem;
    width: 9.375rem;
    z-index: -10;
}

.penguin-footer {
    position: relative;
    width: 100%;
    height: 8.75rem;
    overflow: hidden;
}

.pingouin {
    position: absolute;
    bottom: 0;
    left: -12.5rem;
    width: 7.5rem;
    transform: rotate(-8deg);
}


@media (max-width: 800px) {

    .calendrier {
        width: 100%;
        height: auto;
        margin-top: 3rem;
        flex-direction: column;
        padding: 0 1rem;
    }

    .cadre {
        width: 100%;
        height: auto;
        gap: 0.5rem;
        padding: 0.625rem;
        justify-content: center;
    }

    .contenantPorte {
        margin: 0.5rem;
        flex-basis: calc(25% - 00.5rem);
    }

    /* Si tu veux afficher 4 portes par ligne */
    .portes {
        width: 4.375rem;
        height: 4.375rem;
    }

    h2 {
        font-size: 1.2rem;
        text-align: center;
    }

    .contact-bas-page {
        margin-top: 2rem;
    }

    .pere-noel img {
        position: fixed;
        top: 3.125rem;
        left: -12.5rem;
        width: 9.375rem;
        z-index: -10;
        height: 12.5rem;
        width: auto;
    }

}